.outer-link-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.outer-link{
    font: inherit;
    text-decoration: auto;
    color: var(--link-color);
    overflow: hidden;
}

.btn--outerLink{
    height: 1.25em;
    aspect-ratio: 1;
    background-image: url("../../assets/images/external-link.svg");
}

body.dark .btn--outerLink{
    background-image: url("../../assets/images/external-link-darkmode.svg");
}