.search-container{
    width: 100%;
    max-width: 400px;
    height: 3rem;
    background-color: var(--element-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    border: 2px solid var(--outline-color);
    border-radius: 100vh;
}

.search-input{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    color: var(--text-color);
}


body.light .btn--search svg{
    color: black;
}

body.dark .btn--search svg{
    color: white;
}